@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-4);
}
.main {
    background: red;
    padding: 20px;
}
.main samp{
}
.main p{
}
.main img{
}
.title {
    background: blue;
    padding: 20px;
}
.div__work{
}
.div__work div{
}
.work1 {
    background: orange;
    padding: 20px;
}
.work2 {
    background: green;
    padding: 20px;
}
.work3 {
    background: violet;
    padding: 20px;
}