@import url(variables-page19.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Body */
body{

}
/* Header */
header{

}
/* Main */
main{
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* div__content top */
.div__contenttop{
    background: var(--color-5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 72px;
    width: 1440px;
}
.div__text{
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    width: 483px;
    height: 426px;
}
.div__text h1{
    font-family: "Avenir-Heavy";
    font-size: 72px;
    color: var(--color-2);    
}
.div__text p{
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-2); 
}
.div__text a{
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-3); 
    text-decoration: none;
    border-radius: 36px;
    background: var(--color-2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 288px;
    height: 66px;

}
#Ensald{
    margin-top: 86px;
    width: 690.11px;
    height: 671px;
}
/* div__images */
.div__images{
    /* background: red; */
    position: absolute;
    display: flex;
    margin-top: 698px;
    margin-right: 677px;
    gap: 24px;
    width: 648px;
    height: 369px;
}
.div__images img{
    width: 200px;
    height: 369px;
}
/* div__textright */
.div__textright{
    /* background: red; */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 774px;
    margin-left: 662px;
    width: 483px;
    height: 237px;
}
.div__Framesup{
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 121px;
}
.div__sup{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.div__sup h4{
    font-family: "Avenir-Medium";
    font-size: 24px;
    color: var(--color-2);
}
.div__sup img{
    width: 52px;
    height: 6px;
}
.div__Framesup span{
}
.div__Framesup p{
    font-family: "Avenir-Roman";
    font-size: 22px;
    color: var(--color-4); 
}
/* div__Frameinf */
.div__Frameinf{
    display: flex;
    gap: 16px;
    width: 463px;
    height: 100px;
}
.div__Frameinf img{
    
}