@import url(variables-page18.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ------------------- body ------------------------ */
body{

}
/* ------------------- header ---------------------- */
header{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 118px;
}
/* ---------------- div__shapeleft ----------------- */
.div__shapeleft{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 71px;
    /* margin-left: 71px; */
    gap: 56px;
    width: 355px;
    height: 296.69px;
}
.div__shapeleft  div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.div__shapeleft  img{
    width: 355px;
    height: 18px;   
}
#CircleLeft{
    width: 172.51px;
    height: 172.69px;
}
/* ---------------- div__textmiddle ----------------- */
.div__textmiddle{
    /* background: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    gap: 24px;
    width: 698px;
    height: 354px;   
}
.div__textmiddle h1{
    font-family: "Times-New-Roman-Bold";
    font-size: 76px;
    color: var(--color-2);  
}
.div__textmiddle p{
    font-family: "Times-New-Roman-regular";
    font-size: 24px;
    color: var(--color-2); 
    width: 433px;
    height: 96px;      
}
.div__textmiddle a{
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: var(--color-5); 
    text-decoration: none;
    border-radius: 24px;
    background: var(--color-2);

    display: flex;
    justify-content: center;
    align-items: center;

    width: 121px;
    height: 50px;     
}
/* ---------------- div__shaperight ----------------- */
.div__shaperight{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 71px;
    gap: 56px;
    width: 355px;
    height: 296.69px;
}
.div__shaperight  div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.div__shaperight img{
    
}
#CircleRigth{
    width: 172.51px;
    height: 172.69px;
}
/* ---------------- Main ----------------- */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------- div__images ----------------- */
.div__images{
    /* background: red; */
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 23px;
}
.div__images div{
    
}
/* ---------------- div__textleft ----------------- */
.div__textleft{
    /* background: blue; */
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    width: 177px;
    height: 174px;
    margin-bottom: 408px;
}
.div__textleft div{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.div__textleft p{
    display: flex;
    font-family: "Times-New-Roman-Italic";
    font-size: 24px;
    color: var(--color-2); 
}
#rectangleleft{
    width: 162px;
    height: 6px;
}
.div__textleft img{
    width: 180px;
    height: 250px;
}
/* ---------------- div__imagesleft ----------------- */
.div__imagesleft{
    /* background: green; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 41px;
    width: 257px;
    height: 541px;
}
.div__imagesleft img{

}
/* ---------------- div__imagesrigth ----------------- */
.div__imagesrigth{
    /* background: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    margin-top: 40px;
    width: 257px;
    height: 541px;
}
.div__imagesrigth img{

}
/* ---------------- div__textright ----------------- */
.div__textright{
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    width: 177px;
    height: 174px;
    margin-bottom: 67px;
}
.div__textright div{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.div__textright p{
    font-family: "Times-New-Roman-Italic";
    font-size: 24px;
    color: var(--color-2);
}
#rectangleright{
    width: 162px;
    height: 6px;
}
.div__textright img{
    width: 180px;
    height: 250px;
}