@import url(variables-page1.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* **************************************** Main ********************************************** */
body{
    background: var(--color-3);
}
.main {
    /* background: red; */
    /* padding: 20px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center
}
.article__sup {
    /* background: blue; */
    /* padding: 20px; */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* justify-items: center; */
    text-align: center;
    align-items: center;
    padding-top: 64px;

    width: 610px;
    /* height: 355px; */
}
.article__sup h1{
    font-family: "Avenir-Heavy";
    color: var(--color-2);
    font-size: 64px;
    padding-bottom: 24px;
}
.article__sup p{
    font-family: "Avenir-Roman";
    color: var(--color-4);
    font-size: 26px;
    padding-bottom: 24px;
}
.article__sup a{
    font-family: "Avenir-Roman";
    color: var(--color-3);
    font-size: 18px;
    /* padding-bottom: 24px; */

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    
    width: 158px;
    height: 54px;

    background: var(--color-2);
    border-radius: 16px;
    text-decoration: none;
}
.list-images {
    /* background: orange; */
    /* padding: 20px; */

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 64px;

    width: 1312px;
    height: 592px;
}
.list-images img{
    width: 316px;
    height: 288px;
    padding-bottom: 16px;
    overflow: hidden;
}