@import url(variables-page5.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: var(--color-4);
}
.main {
    /* background: red; */
    /* padding: 20px; */
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 69px;
    padding: 64px;
}
.main samp{
    font-family: "Avenir-Heavy";
    font-size: 55px;
    color: var(--color-2);
}
.main p{
    font-family: "Avenir-Roman";
    font-size: 24px;
    color: var(--color-1);
}
.main img{
    width: 400px;
    height: 345px;
    margin-top: 24px;
}
.title {
    /* background: blue; */
    /* padding: 20px; */
    
    width: 531px;
    height: 208px;

    font-family: "Avenir-Heavy";
    font-size: 88px;
    color: var(--color-3);
}
.div__work{
    display: flex;
    justify-content: space-between;
    /* gap: 24px; */
}
.div__work div{
    width: 400px;
    height: 549px;
}
.work1 {
    /* background: orange; */
    /* padding: 20px; */
}
.work2 {
    /* background: green; */
    /* padding: 20px; */
}
.work3 {
    /* background: violet; */
    /* padding: 20px; */
}