@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom, var(--color-3), var(--color-4));
}
main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
.main img:nth-child(1){
    position: absolute;
    margin-left: 836px;
    margin-right: 64px;
    width: 537.4px;
    height: 512px;
    z-index: -1;
}
.main img:nth-child(2){
    position: absolute;
    margin-left: 64px;
    margin-top: 418px;
    width: 462px;
    height: 508px;
    z-index: -1; 
}
.div__text{
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 295px;
    gap: 16px;
    width: 756px;
    height: 310px; 
}
.div__text h1{
    font-family: "Poppins-Bold";
    font-size: 88px;
    color: var(--color-1); 
}
.div__text p{
    font-family: "Poppins-Regular";
    font-size: 24px;
    color: var(--color-1);    
}
.div__text a{
    text-align: center;
    background: var(--color-1);
    font-family: "Poppins-Regular";
    font-size: 24px;
    color: var(--color-2); 
    text-decoration: none;
    width: 182px;
    height: 66px; 
    border-radius: 36px;
}
.div__list{

}
.div__list span{
    font-family: "Poppins-SemiBold";
    font-size: 24px;
    color: var(--color-1); 
}
.div__list img{
    
}
.div__list p{
    font-family: "Poppins-Regular";
    font-size: 16px;
    color: var(--color-1);     
}