:root{
    --color-1:#252525;
    --color-2:hsla(0, 0%, 15%, 0.800);
    --color-3:#FFFFFF;
    --color-4:hsla(0, 0%, 15%, 0.250);
    
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/Avenir-Heavy.ttf);
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/Avenir-Roman.ttf);
}