:root{
    --color-1:#FFFFFF;
    --color-2:hsla(0, 0%, 100%, 0.500);
    --color-3:#080808;
    --color-4:#E5B94B;
    --color-gradiente-1:#9c2004;
    --color-gradiente-2:#AB2706;
}
@font-face {
    font-family: "WorkSans-Bold";
    src: url(../storage/font/WorkSans-Bold.ttf);
}
@font-face {
    font-family: "WorkSans-Light";
    src: url(../storage/font/WorkSans-Light.ttf);
}
@font-face {
    font-family: "WorkSans-Medium";
    src: url(../storage/font/WorkSans-Medium.ttf);
}