:root{
    --color-1:#111111;
    --color-2:#000000;
    --color-3:#FFFFFF;
    --color-gradient-1:hsl(0, 0%, 49%);  
}
@font-face {
    font-family: "Avenir-Roman";
    src: url(../storage/font/Avenir-Roman.ttf);
}
@font-face {
    font-family: "Avenir-Heavy";
    src: url(../storage/font/Avenir-Heavy.ttf);
}
@font-face {
    font-family: "EagleLake-Regular";
    src: url(../storage/font/EagleLake-Regular.ttf);
}
