<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 6</title>
    <link rel="stylesheet" href="../css/style-page6.css">
</head>
<body>
    <header class="header">
        <div class="text-circle">

                <img src="../storage/img/Fontcircle-page-6.png">
            <div>Lorem ipsum dolor sit amet, cons</div>
        </div>
    </header>
    <main class="main">
        <article class="article__content">
            <h1>THE eWatch with the newest microchip technology</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            <div class="div__buttons">
                <button class="primari__button">
                    <a href="#">Order now</a>
                </button>
                <button class="secondary__button">
                    <a href="#">Explore more</a>
                </button>
            </div>
            <div class="div__list">
                <div class="div__frame1">
                    <span>
                        <img src="../storage/img/Icons-Sun-page-6.png">
                    </span>
                    <a href="">Lorem ipsu dolor amet</a>
                </div>
                <div class="div__frame2">
                    <span>
                        <img src="../storage/img/Icons-Star-page-6.png">
                    </span>
                    <a href="">Lorem ipsu dolor amet</a>
                </div>
                <div class="div__frame3">
                    <span>
                        <img src="../storage/img/Icons-Eye-page-6.png">
                    </span>
                    <a href="">Lorem ipsu dolor amet</a>
                </div>
                <div class="div__frame4">
                    <span>
                        <img src="../storage/img/Icons-Planet-page-6.png">
                    </span>
                    <a href="">Lorem ipsu dolor amet</a>
                </div>
            </div>
        </article>        
        <div class="div__imagegroup">
            <img src="../storage/img/Star-page-6.png">
            <img src="../storage/img/Stroke-page-6.png">
            <img src="../storage/img/photo-page-6.png">
            <img src="../storage/img/Stroke-page-6.png">
            <a id="Award" href="#">Award winning product</a>
            <a id="Ergonomic" href="#">Ergonomic design</a>
        </div>
    </main>
</body>
</html>