<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 18</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="div__shapeleft">
            <div>
                <img src="storage/img/Waves-page18.png">
                <img src="storage/img/Waves-page18.png">
            </div>
            <img src="storage/img/Group-page18.png" id="CircleLeft">
        </div>
        <div class="div__textmiddle">
            <h1>Your ultimate fashion outfits</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus</p>
            <a href="#">Explore</a>
        </div>
        <div class="div__shaperight">
            <img src="storage/img/Group-page18.png" id="CircleRigth">
            <div>
                <img src="storage/img/Waves-page18.png">
                <img src="storage/img/Waves-page18.png">
            </div>
        </div>
    </header>
    <main class="main">
        <div class="div__images">
            <div class="div__textleft">
                <div>
                    <p>Exclusive gifts. Insider access. Special events.</p>
                    <img src="storage/img/Rectangle-page18.png" id="rectangleleft">
                </div>
                <img src="storage/img/left-page18.png">
            </div>
            <div class="div__imagesleft">
                <img src="storage/img/Frame-left1-page18.png">
                <img src="storage/img/Frame-left2-page18.png">
            </div>
            <img src="storage/img/Middle-page18.png">
            <div class="div__imagesrigth">
                <img src="storage/img/Frame-right1-page18.png">
                <img src="storage/img/Frame-right2-page18.png">
            </div>
            <div class="div__textright">
                <div>
                    <p>Exclusive gifts.Insider access. Special events.</p>
                    <img src="storage/img/Rectangle-page18.png"id="rectangleright" id="rectangleright">
                </div>
                <img src="storage/img/right-page18.png">
            </div>
        </div>
    </main>    
</body>
</html>
