<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 14</title>
    <link rel="stylesheet" href="../css/style-page14.css">
</head>
<body>
    <main class="main">
        <div class="div__containerlist">
            <div class="div__list">
                <div>
                    <span>4.9</span>
                    <img src="../storage/img/Rectangle-page-14.png">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div>
                    <span>876K</span>
                    <img src="../storage/img/Rectangle-page-14.png">
                    <p>Lorem ipsum dolor amet</p>
                </div>
                <div>
                    <span>No.1</span>
                    <img src="../storage/img/Rectangle-page-14.png">
                    <p>Lorem ipsum dolor amet</p>
                </div>
            </div>
        </div>
        <div class="div__containercontent">
            <div class="div__content">
                <h1>Listen to yourself
                    Follow your heart</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <a href="#">Download the App</a>
            </div>
        </div>
        <div class="div__containerimag">
            <div class="div__imagearea">
                <img src="../storage/img/Star1-page-14.png" id="Star1">
                <img src="../storage/img/Star2-page-14.png" id="Star2">
                <img src="../storage/img/Phone-page-14.png" id="Phone">
                <img src="../storage/img/Portal-page-14.png" id="Portal1">
                <img src="../storage/img/Heart-page-14.png" id="Heart">
                <img src="../storage/img/Bg-yellow-page-14.png" id="Bg-yellow">
                <img src="../storage/img/Portal-page-14.png" id="Portal2">
                <img src="../storage/img/Bg-brown-page-14.png" id="Bg-brown">
            </div>
        </div>
    </main>
</body>
</html>
