<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 10</title>
    <link rel="stylesheet" href="../css/style-page10.css">
</head>
<body>
    <main class="main">
        <div class="div__Text">
                <li id="li__one">Design.</li>
                <li id="li__two">Create.</li>
                <li id="li__three">Inspire.</li>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
            <a href="#">Explore</a>
        </div>
        <div class="div__Gallery">
            <div class="div_images">
                <img src="../storage/img/Img1-page-10.png">
                <img src="../storage/img/Img5-page-10.png">
                <img src="../storage/img/Img9-page-10.png">
                <img src="../storage/img/Img13-page-10.png">
            </div>
            <div class="div_images">
                <img src="../storage/img/Img2-page-10.png">
                <img src="../storage/img/Img6-page-10.png">
                <img src="../storage/img/Img10-page-10.png">
                <img src="../storage/img/Img14-page-10.png">
            </div>
            <div class="div_images">
                <img src="../storage/img/Img3-page-10.png">
                <img src="../storage/img/Img7-page-10.png">
                <img src="../storage/img/Img11-page-10.png">
                <img src="../storage/img/Img15-page-10.png">
            </div>
            <div class="div_images">
                <img src="../storage/img/Img4-page-10.png">
                <img src="../storage/img/Img8-page-10.png">
                <img src="../storage/img/Img12-page-10.png">
                <img src="../storage/img/Img16-page-10.png">
            </div>
        </div>
    </main>
    
</body>
</html>
