<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 1</title>
    <link rel="stylesheet" href="../css/style-page1.css">
</head>
<body>
    <main class="main">
        <article class="article__sup">
            <h1>
                Discover the beauty around the world
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.
            </p>
            <a href="#">Explore</a>
        </article >
        <section class="list-images">
            <img src="../storage/img/img1-page1.png">
            <img src="../storage/img/img2-page1.png"> 
            <img src="../storage/img/img3-page1.png">
            <img src="../storage/img/img4-page1.png">
            <img src="../storage/img/img5-page1.png">
            <img src="../storage/img/img6-page1.png">
            <img src="../storage/img/img7-page1.png"> 
            <img src="../storage/img/img8-page1.png">   
        </section>
    </main>    
</body>
</html>