<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Number 2</title>
    <link rel="stylesheet" href="../css/style-page2.css">
</head>
<body>
    <main>
        <section class="discover">
            <article>
                <h1>Discover the beauty around the world</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                <a href="#">Get started</a>
            </article>
            <div class="discover__images">
                <img src="../storage/img/Image-left-page-2.png" class="left">
                <img src="../storage/img/Image-right-page-2.png" class="right">
            </div>
        </section>
        <section class="images">
            <div>
                <img src="../storage/img/img1-page-2.png">
                <span>01</span>
            </div>
            <div>
                <img src="../storage/img/img2-page-2.png">
                <span>02</span>
            </div>
            <div>
                <img src="../storage/img/img3-page-2.png">
                <span>03</span>
            </div>
        </section>
    </main> 
</body>
</html>